@import '../styles/vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: $title;
}

h3,
h4,
h5,
h6,
p {
  font-family: $body1;
  font-weight: 200;
}

li a {
  font-family: $body1;
  font-weight: 600;
}

$circle: 400px;

.animation-circle {
  width: $circle;
  height: $circle;
  border-radius: $circle / 2;
  position: absolute;
  top: -100px;
  left: -100px;
  background-color: $secondary;
  transform: scale(1);
  transition: 0.5s ease;
  z-index: 5;
}
