//COLORS
$primary: #000;
$secondary: #ffea00;
$accent: #27aae1;
$accent2: #8a2be2;
$textDark: #535353;
$textDarker: #161616;
$text: #fff;

//FONTS
$title: 'Kaushan Script', cursive, sans-serif;
$body1: 'Kanit', sans-serif;
$body2: 'Fredoka One', sans-serif;
