@import '../../styles/vars.scss';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: auto;
  border-top: 2px dashed $textDark;

  a {
    text-decoration: none;
    color: $text;
    font-family: $body1;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: 0.3s ease;
    svg {
      path {
        fill: $accent2;
      }
    }
  }

  a:hover {
    color: $accent2;
  }

  .left {
    margin-right: auto;
  }

  .right {
    margin-left: auto;
  }
}
